{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"trailingComma": "es5",
	"bracketSameLine": true,
	"printWidth": 120,
	"endOfLine": "lf",
	"semi": false,
	"importOrder": [
		"^(react/(.*)$)|^(react$)",
		"^(next/(.*)$)|^(next$)",
		"<THIRD_PARTY_MODULES>",
		"",
		"^types$",
		"^@/types/(.*)$",
		"^@/config/(.*)$",
		"^@/lib/(.*)$",
		"^@/components/(.*)$",
		"^@/styles/(.*)$",
		"^[./]"
	],
	"plugins": ["prettier-plugin-astro", "@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
