{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"trailingComma": "es5",
	"bracketSameLine": true,
	"printWidth": 120,
	"endOfLine": "lf",
	"semi": false,
	"importOrder": [
		"^(astro:(.*)$)|^(astro$)",
		"<THIRD_PARTY_MODULES>",
		"",
		"^types$",
		"^@/lib/(.*)$",
		"^@/layouts/(.*)$",
		"^@/repository/(.*)$",
		"^@/components/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true,
	"importOrderGroupNamespaceSpecifiers": true,
	"plugins": ["prettier-plugin-astro", "@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
