---
import i18next, { changeLanguage } from "i18next";
import Base from "@/layouts/base.astro";
import { localizePath } from "astro-i18next";
import { getCollection } from "astro:content";

changeLanguage("en");

const posts = await getCollection("blog", ({ id }) => {
    return id.startsWith(`${i18next.language}/`);
});
---

<Base>
    <main class="max-w-7xl mx-auto py-12">
        <section class="grid gap-4">
            {
                posts.length !== 0 &&
                    posts.map((post) => (
                        <a href={localizePath(`${post.slug}`)}>
                            {post.slug}
                            <br />
                            {post.data.title}
                        </a>
                    ))
            }
        </section>
    </main>
</Base>
