---
import Base from '@/layouts/base.astro'
import { localizePath } from 'astro-i18next'
import { getCollection } from 'astro:content'
import i18next, { changeLanguage, t } from 'i18next'

changeLanguage('en')

const snippets = await getCollection('snippets', ({ id }) => {
	return id.startsWith(`${i18next.language}/`)
})
---

<Base>
	<main class="prose dark:prose-invert">
		<h1>{t('snippets:greeting')}</h1>
		<section>
			{
				snippets.length !== 0 &&
					snippets.map((post) => (
						<article>
							<a
								href={localizePath(
									`${post.slug
										.split('/')
										.slice(0, 1)
										.concat('s', post.slug.split('/').slice(1))
										.join('/')}`
								)}>
								{post.data.title}
							</a>
							<br />
							{post.render().then(({ remarkPluginFrontmatter }) => {
								return (
									remarkPluginFrontmatter.code && (
										<Fragment set:html={remarkPluginFrontmatter?.code.value} />
									)
								)
							})}
						</article>
					))
			}
		</section>
	</main>
</Base>
