---
import Base from '@/layouts/base.astro'
import { getCollection } from 'astro:content'
import { changeLanguage } from 'i18next'

// mdx custom
import Ads from '@/components/mdx/ads.astro'

export async function getStaticPaths() {
	const pages = await getCollection('snippets')
	const paths = pages.map((page) => {
		const [lang, ...slug] = page.slug.split('/')
		return { params: { lang, slug: slug.join('/') || undefined }, props: page }
	})
	return paths
}

const { lang } = Astro.params

changeLanguage(lang)

const page = Astro.props
const formattedDate = page.data.date.toLocaleString(lang, {
	weekday: 'long',
	year: 'numeric',
	month: 'long',
	day: 'numeric',
})

const { Content, remarkPluginFrontmatter } = await page.render()
---

<Base>
	<div class="grid grid-cols-4 gap-x-8">
		<article class="prose col-span-4">
			<h1>{page.data.title}</h1>
			<h5>{remarkPluginFrontmatter.minutesRead}</h5>
			<p>by {page.data.author} • {formattedDate}</p>
			<Content components={{ Ads }} />
		</article>
	</div>
</Base>
