---

---

<footer class="mt-12 mb-6">
	<a
		target="_blank"
		href="https://forms.gle/udfTPKfSiveAaHcu7"
		rel="noopener noreferrer"
		class="py-2 border-2 border-slate-700 px-3">Submit Content</a
	>
	<hr class="my-6" />
	<p>© ruang.work 2023 - {new Date().getFullYear()}</p>
</footer>
