---
import { localizePath } from 'astro-i18next'
import { LanguageSelector } from 'astro-i18next/components'
import i18next, { t } from 'i18next'

import { cn } from '@/lib/utils/cn'

const pathname = new URL(Astro.request.url).pathname
	.split('/')
	.filter((path) => path !== i18next.language && path !== '')
	.at(0)

const current = pathname ? pathname : ''
---

<header class="mt-6 mb-4">
	<div class="flex justify-between mb-4 items-center">
		<h1 class="font-mono text-xl font-bold mb-4">Ruang.work</h1>
		<LanguageSelector showFlag={true} />
	</div>

	<nav class="flex items-center gap-x-4">
		<a class={cn(current === '' ? 'bg-yellow-300' : ' ')} href={localizePath()}>
			{t('nav.home.title')}
		</a>
		<a class={cn(current === 'blog' ? 'bg-yellow-300' : ' ')} href={localizePath('blog')}>
			{t('nav.blog.title')}
		</a>
		<a class={cn(current === 'snippets' ? 'bg-yellow-300' : ' ')} href={localizePath('snippets')}>
			{t('nav.snippet.title')}
		</a>
		<a class={cn(current === 'about' ? 'bg-yellow-300' : ' ')} href={localizePath('about')}>
			{t('nav.about.title')}
		</a>
	</nav>
</header>
